<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bitcoin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>bitcoind.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>btc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F168B9E142885BF0016AAC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F3A3DF7142495DA007D3A8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F9B10241416051C00C5903D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FA5C184142370EA00FBE67B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
